body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.block{
  height:150px;
  width:150px;
  border:5px solid black;
  background-size:cover;
  display:inline-block;
}

.mark1 {
  background-image: url("C:\Old_Harddrive_Data\E_drive\main-projects\Tic Tac Toe\reactgame\public\images\dot-final.png");
}

.mark2 {
  background-image: url("C:\Old_Harddrive_Data\E_drive\main-projects\Tic Tac Toe\reactgame\public\images\cross-final.png");
}